 Calculate the total of monthly bills.
 Given a list of bills like [1500, 2000, 3000], iterate through the list.
 Print each bill amount and the total at the end

In [ ]:
bill = [1500 , 2000 , 3000]
for i in bill :
  print(i)
h = sum(bill)
print(h)

1500
2000
3000
6500

Simulate attendance tracking.
 Given a list of student names like ["John", "Mary", "Alex"], print each name followed by
"Present.

In [ ]:
n = ["john" , "mary" , "alex"]
for i in n :
  print(i)
  print("present")

john
present
mary
present
alex
present

Distribute bonuses to employees.
 Given a dictionary {"John": 5000, "Mary": 6000}, iterate through the dictionary.
 Print each employee's name and their bonus

In [ ]:
dic = {"john" : 5000, "mary" : 6000}
for key in dic :
  print(key , ":", dic[key])

john : 5000
mary : 6000

Calculate grades for students.
 Given a list of scores [85, 92, 76, 61], assign grades:
 >= 90: A
 >= 80: B
 >= 70: C
 < 70: F
 Print the grades for each student

In [ ]:
score = [85 , 92 , 76 , 61]
for i in score :
  if i >= 90 :
    print("grade is A ")
  elif i >= 80 :
    print("grade is B")
  elif i >= 70 :
    print("grade is C ")
  else :
    print("grade is F")

grade is B
grade is A
grade is C
grade is F

Check if a book is in a library.
 Given a list of books like ["Python Basics", "Data Science"], ask the user for a title.
 Print "Available" if the title is in the list, or "Not Available" otherwise

In [ ]:
b = ["paython Basics" , " Data science"]
t = input("enter book name: ")
for i in b :
  if t == i :
    print("available")
    break
else :
  print("ua")

enter book name:  Data science
available

 Analyze daily temperatures for a week.
 Given a list [30, 32, 28, 35, 29], find the highest and lowest temperatures using a loop

In [ ]:
t = [30, 32, 28, 35, 29]
k = 0
for i in range(len(t)- 1) :
  if t[i] < t[i+1] :
    k = t[i]




print(k , "is smallest")
n = len(t)
b = len(t) - 1
print(n , b)

28 is smallest
5 4

In [ ]:
d = 0
for e in range(len(t) - 1) :
  if t[e] > t[e + 1] :
    d = t[e]
print(d , "is largest")

35 is largest

Check for low-stock items in a store.
 Given a dictionary {"Apples": 5, "Bananas": 20}, print items with quantities below 10

In [ ]:
d = {"Apples": 5, "Bananas": 20}
k = min(d , key = d.get)
print("minimum quantity" , k)

minimum quantity Apples

 Check booked and available seats.
 Given a list of seats [1, 2, 3, 4] and booked seats [2, 4], print "Booked" or "Available" for each
seat

In [ ]:
s =  [1, 2, 3, 4]
b =  [2, 4]
for i in s :
  if i not in b :
    print("available")
  else :
    print("booked")

available
booked
available
booked

Calculate weekly interest for a savings account.
 Given a list of daily balances [5000, 5200, 5300], calculate daily interest at 0.05% and display
the total interest

In [ ]:
b = [5000, 5200, 5300]
a = 0.05
f = 0
for i in b :
  f = f + i*a
  q = i + f
  print("today balance" , q)
print("total interest" , f)

today balance 5250.0
today balance 5710.0
today balance 6075.0
total interest 775.0

 Analyze feedback for keywords.
 Given a list of comments like ["Great service", "Poor product"], print comments containing the
word "service.

In [ ]:
c = ["Great service", "Poor product"]
f = "service"
for i in c :
  if f in i :
    print(i)

Great service