In [ ]:
#q-1 - User will input (3ages).Find the oldest one
n = 3
sage = list()

for i in range(n) :
  age = int(input("enter age: "))
  sage.append(age)
  oldest = max(sage)
  i += 1
print(sage)
print("Elder age is: ", oldest)

enter age: 2
enter age: 77
enter age: 999
[2, 77, 999]
Elder age is:  999

In [ ]:
#q-2 - Write a program that will convert celsius value to fahrenheit
# - formula = f = (Temperature in degrees Celsius (Â°C) * 9/5) + 32

temp = int(input("enter temp in celcius: "))
f = (temp* 9/5) + 32
print("temp in farenhite: ", f)

enter temp in celcius: 30
temp in farenhite:  86.0

In [ ]:
#User will input (2numbers).Write a program to swap the numbers
n1 = int(input("enter 1st no.: "))
n2 = int(input("enter 2nd no.: "))
(n1,n2) = (n2,n1)

print(n1 , n2)

enter 1st no.: 3
enter 2nd no.: 6
6 3

In [ ]:
# Write a program that will give you the sum of 3 digits
a = int(input())
b = int(input())
c = int(input())
sum = a + b + c
print(sum)

2
4
6
12

In [ ]:
#Write a program that will reverse a four digit number.Also it checks whether the reverse is true.
num = int(input("enter four digit no.: "))
newnum = str(num)
print(type(newnum))
print(newnum)
rev = newnum[::-1]
rev = int(rev)
print(rev)
print(id(num))
print(id(rev))
if num == rev :

  print("number is not reversed", rev)
else :
  print("number is reversed", rev)

enter four digit no.: 4567
<class 'str'>
4567
7654
137685309094288
137685302880080
number is reversed 7654

In [ ]:
#Write a program that will tell whether the number entered by the user is odd or even.
num = int(input("enter any number: "))
if num % 2 == 0 :
  print("number is even", num)
else :
  print("number is odd", num)

enter any number: 4
number is even 4

In [ ]:
#Write a program that will tell whether the given year is a leap year or not.
year = int(input("enter a year: "))
if year % 4 == 0 :
  print("year is a leap year", year)

else :
  print("year is not leap year", year)

enter a year: 2021
year is not leap year 2021

In [ ]:
#Write a program to find the euclidean distance between two coordinates.
cor1 = tuple()
cor2 = tuple()
n = 2
for i in range(0,n):
  num = int(input("enter number for cor1: "))
  cor1 = cor1 + (num,)
  i += 1
print("1st cordinates",cor1)
for e in range(0,n):
  no = int(input("enter nuber for cor2: "))
  cor2 = cor2 + (no,)
  i += 1
print("2nd cordinates", cor2)

from scipy.spatial import distance



distance = distance.euclidean(cor1, cor2)
print(distance) # Output: 5.0

enter number for cor1: 5
enter number for cor1: 8
1st cordinates (5, 8)
enter nuber for cor2: 9
enter nuber for cor2: 18
2nd cordinates (9, 18)
10.770329614269007

In [ ]:
#Write a program that take a user inputr of three angles and will find out whether it can form a triangle or not.
n = 3
angle = list()
for i in range(0,n):
  agl = int(input("enter angle for triangle: "))
  angle.append(agl)

  i += 1
print("three angles", angle)
check = sum(angle)
print("sum of angles is", check)

if (check == 180) :
  print("triangle can be formed")
else :
  print("triangle cannot be formed")

enter angle for triangle: 80
enter angle for triangle: 50
enter angle for triangle: 50
three angles [80, 50, 50]
sum of angles is 180
triangle can be formed

In [ ]:

#Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit
revenue = sp - cp
def pl(cp , sp) :


  if revenue > 0 :
    print("it is a profit")
  else :
    print("it is a loss")
  return revenue


sp = int(input("enter selling price: "))
cp = int(input("enter cost price: "))
if sp < cp :
  print( "SP should be grater than cp")
elif sp == cp :
  print("no profit no loss")

pl(cp , sp)

enter selling price: 50
enter cost price: 40
it is a profit

10

In [ ]:
#Write a program to find the simple interest when the value of principle,rate of interest and time period is given.

def si(principal , rate , time ) :
  interest = (principal * rate * time)/100
  return interest


p = int(input())
r = int(input())
t = int(input())


si(p , r, t)

5000
5
3

750.0

In [ ]:
#Write a program to find the volume of the cylinder. Also find the cost when ,when the cost of 1litre milk is 40Rs.
import math
def vol(r,h) :
  volume = math.pi*r**2*h
  return volume


final = vol(5 , 17)
print(final)


cost = 40
total = cost*vol(5,17)
print(total)

1335.1768777756622
53407.07511102649

In [ ]:
#Write  a program that will tell whether the given number is divisible by 3 & 6.
def div(num) :
  if (num % 3 == 0) and (num % 6 == 0) :
    print("number is divisible by 3 and 6")
  else :
    print("number is not divisible by 3 & 6")

num = int(input("enter number to check disibility: "))
div(num)

enter number to check disibility: 11
number is not divisible by 3 & 6

In [ ]:
#Write a program that will determine weather when the value of temperature and humidity is provided by the user.
#TEMPERATURE(C)      HUMIDITY(%)      WEATHER


     # >= 30                             >=90                Hot and Humid

      #>= 30                             < 90                 Hot

      #<30                                >= 90               Cool and Humid

      #<30                                 <90                 Cool


def weather(temp , humi) :
  if (temp >= 30) and (humi >= 90) :
    print("weather is hot and humid")
  elif (temp >= 30) and (humi < 90) :
    print("weather is hot")
  elif (temp < 30) and (humi >= 90) :
    print("weather is cool and humid")
  elif (temp < 30) and (humi < 90) :
    print("weather is cool")
  else :
    print("enter valid number")

temp = int(input("enter temprature in celcius: "))
humi = int(input("enter humidity: "))

weather(temp , humi)

enter temprature in celcius: 400
enter humidity: 600
weather is hot and humid

In [ ]:
#Write a program that will take three digits from the user and add the square of each digit.
def sqr(n1 , n2 , n3) :
  sum = n1**2 + n2**2 + n3**2
  return sum

n1 = int(input("enter first num: "))
n2 = int(input("enter 2nd num: "))
n3 = int(input("enter 3rd num: "))

print("sum of sqr", sqr(n1,n2,n3))

enter first num: 2
enter 2nd num: 2
enter 3rd num: 2
sum of sqr 12

In [ ]:
#Write a program that will check whether the number is armstrong number or not.
num = int(input())
dig = str(num)
count = len(dig)
print(type(count))
sum = 0
for i in dig :
  sum = sum + int(i)**count
print(sum)

if sum == num :
  print("number is armstrong number")
else :
  print("number is not armstrong number")

153
<class 'int'>
153
number is armstrong number

In [ ]:
#Write a program that will give you the in hand salary after deduction of HRA(10%),DA(5%),PF(3%), and tax(if salary is between 5-10 lakhâ10%),(11-20lakhâ20%),(20< _   â 30%)(0-1lakh print k).
Annual = int(input("enter annual salary: "))
month = Annual / 12
print("Monthly salary is", round(month))
HRA = round((month * 10)/100)
pf = round((month*3)/100)
da = round((month*5)/100)
print(HRA,pf,da)
ti= round(month - (HRA + pf + da))
print("taxable income", ti)

if Annual in range(500000 , 1100000) :
  fi = (ti*10)/100
  ih = ti - fi
  print("tax on salary", fi)
  print("inhand salary", ih)
elif Annual in range(1100000 , 2100000) :
  fi = (ti*20)/100
  ih = ti - fi
  print("tax on salary", fi)
  print("inhand salary", ih)
elif Annual > 2000000 :
  fi = (ti*30)/100
  ih = ti - fi
  print("tax on salary", fi)
  print("inhand salary", ih)
elif Annual < 500000 :
  ih = month
  print("inhand salary", ih)

enter annual salary: 200000
Monthly salary is 16667
1667 500 833
taxable income 13667
inhand salary 16666.666666666668

In [ ]:
#Write a menu driven program - 1.cm to ft  2.kl to miles  3.usd to inr  4.exit

num = 0
while True :
  print("1. Enter number from  1 to 4 to run")
  print("2. Change centimeter to feet")
  print("3. change km to miles")
  print("4. Change USD to INR")
  print("5. ENTER 5 TO EXIT")
  num = int(input("Enter number from 1 to 5 to run: "))
  if num == 2 :
    cm = int(input("enter number to conver in feet: "))
    ft = round(cm*0.033)
    print("value converted in feet", ft)
  elif num == 3 :
    km = int(input("enter number to convert in to miles: "))
    mile = round(km*0.62)
    print("value in miles", mile)
  elif num == 4 :
    usd = int(input("enter number to convert into INR: "))
    inr = round(usd*86.36)
    print("Value in INR", inr)
  else :
    num == 5
    break
    print("Thank you for using")

1. Enter number from  1 to 4 to run
2. Change centimeter to feet
3. change km to miles
4. Change USD to INR
5. ENTER 5 TO EXIT
Enter number from 1 to 5 to run: 3
enter number to convert in to miles: 666
value in miles 413
1. Enter number from  1 to 4 to run
2. Change centimeter to feet
3. change km to miles
4. Change USD to INR
5. ENTER 5 TO EXIT
Enter number from 1 to 5 to run: 5

In [ ]:
#Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.
dleg = int(input("enter number of leg for dog: "))
cleg = int(input("enter number of leg for chicken "))
dhead = dleg // 4
print("total dog head", dhead)
chead = cleg // 2
print("total chicken head", chead)

enter number of leg for dog: 1000
enter number of leg for chicken 20000
total dog head 250
total chicken head 10000

In [ ]:
#Write a program to find the sum of first n numbers, where n will be provided by the user. Eg if the user provides n=10 the output should be 55.
n = int(input("enter number to find sum: "))
sum = 0
for i in range(0, n + 1) :
  sum = sum + i
  i += 1
print("sum of first n numbers", sum)

enter number to find sum: 20000
sum of first n numbers 200010000

In [ ]:
#Write a program that can multiply 2 numbers provided by the user without using the * operator
num1 = 3
num2 = 5
sum = 0
for i in range(0,5) :
  sum = 3 + sum
  i += 1
print(sum)

15

In [ ]:
#Write a program that can find the factorial of a given number provided by the user.
n  = int(input("enter number for which factorial needs to be calculated: "))
mul = 1
for i in range(1, n+1) :
  mul = mul * i
print(mul)

enter number for which factorial needs to be calculated: 5
120

In [ ]:
#Write a program to print the first 25 odd numbers
for i in range( 1 , 26) :
  if i % 2 != 0 :
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25

In [ ]:
#Write a program to print whether a given number is prime number or not
n = int(input("enter number for prime check : "))
for i in range(2,n) :
  if n % i == 0 :
    print(n , "is not prime")
    break


else :
  print(n , "is prime number")

enter number for prime check : 8
8 is not prime

In [ ]:
#The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.
pop = 10000
for i in range(1,11) :
  pop = round(pop + (10*pop)/100)
  i += 1
  print(i,"year",pop)

2 year 11000
3 year 12100
4 year 13310
5 year 14641
6 year 16105
7 year 17716
8 year 19488
9 year 21437
10 year 23581
11 year 25939

In [ ]:
#Write a program to print all the unique combinations of 1,2,3 and 4
a = [1,2,3,4]
for i in range(4) :
  for j in range(4) :
    for k in range(4) :
      for l in range(4) :
        if i != j and j != k and k != l and l != i :
          c = (a[i], a[j], a[k], a[l])

          print(c)

(1, 2, 1, 2)
(1, 2, 1, 3)
(1, 2, 1, 4)
(1, 2, 3, 2)
(1, 2, 3, 4)
(1, 2, 4, 2)
(1, 2, 4, 3)
(1, 3, 1, 2)
(1, 3, 1, 3)
(1, 3, 1, 4)
(1, 3, 2, 3)
(1, 3, 2, 4)
(1, 3, 4, 2)
(1, 3, 4, 3)
(1, 4, 1, 2)
(1, 4, 1, 3)
(1, 4, 1, 4)
(1, 4, 2, 3)
(1, 4, 2, 4)
(1, 4, 3, 2)
(1, 4, 3, 4)
(2, 1, 2, 1)
(2, 1, 2, 3)
(2, 1, 2, 4)
(2, 1, 3, 1)
(2, 1, 3, 4)
(2, 1, 4, 1)
(2, 1, 4, 3)
(2, 3, 1, 3)
(2, 3, 1, 4)
(2, 3, 2, 1)
(2, 3, 2, 3)
(2, 3, 2, 4)
(2, 3, 4, 1)
(2, 3, 4, 3)
(2, 4, 1, 3)
(2, 4, 1, 4)
(2, 4, 2, 1)
(2, 4, 2, 3)
(2, 4, 2, 4)
(2, 4, 3, 1)
(2, 4, 3, 4)
(3, 1, 2, 1)
(3, 1, 2, 4)
(3, 1, 3, 1)
(3, 1, 3, 2)
(3, 1, 3, 4)
(3, 1, 4, 1)
(3, 1, 4, 2)
(3, 2, 1, 2)
(3, 2, 1, 4)
(3, 2, 3, 1)
(3, 2, 3, 2)
(3, 2, 3, 4)
(3, 2, 4, 1)
(3, 2, 4, 2)
(3, 4, 1, 2)
(3, 4, 1, 4)
(3, 4, 2, 1)
(3, 4, 2, 4)
(3, 4, 3, 1)
(3, 4, 3, 2)
(3, 4, 3, 4)
(4, 1, 2, 1)
(4, 1, 2, 3)
(4, 1, 3, 1)
(4, 1, 3, 2)
(4, 1, 4, 1)
(4, 1, 4, 2)
(4, 1, 4, 3)
(4, 2, 1, 2)
(4, 2, 1, 3)
(4, 2, 3, 1)
(4, 2, 3, 2)
(4, 2, 4, 1)
(4, 2, 4, 2)
(4, 2, 4, 3)
(4, 3, 1, 2)
(4, 3, 1, 3)
(4, 3, 2, 1)
(4, 3, 2, 3)
(4, 3, 4, 1)
(4, 3, 4, 2)
(4, 3, 4, 3)

In [ ]:
#User will provide 2 numbers you have to find the HCF of those 2 numbers
a = int(input())
b = int(input())
alist = list()
if a > b :
  for i in range(1, a+1) :
    if a % i == 0 and b % i == 0 :
      alist.append(i)
      alist.sort(reverse = True)
  print(alist)
  print("HCF 1" , alist[0])
elif b > a :
  for i in range(1, b + 1) :
    if a % i == 0 and b % i == 0 :
      alist.append(i)
      alist.sort(reverse = True)
  print(alist)
  print("HCF 2" , alist[0])

1234
4567
[1]
HCF 2 1

In [ ]:
#User will provide 2 numbers you have to find the lCF of those 2 numbers
a = int(input())
b = int(input())
alist = list()
if a > b :
  for i in range(1, a+1) :
    if a % i == 0 and b % i == 0 :
      alist.append(i)
      alist.sort()
  print(alist)
  print("HCF 1" , alist[0])
elif b > a :
  for i in range(1, b + 1) :
    if a % i == 0 and b % i == 0 :
      alist.append(i)
      alist.sort()
  print(alist)
  print("HCF 2" , alist[0])

12
6
[1, 2, 3, 6]
HCF 1 1

In [ ]:
#Print first 25 prime numbers
for i in range(3 , 26) :
  for j in range(2, i) :
    if i % j == 0 :
      break
  else :
    print(i , "is prime")

3 is prime
5 is prime
7 is prime
11 is prime
13 is prime
17 is prime
19 is prime
23 is prime

In [ ]:
#Print the first 20 numbers of a Fibonacci series
ser = list()
i = 0
j = 1
for i in range(20) :
  k = i + j
  i = j
  j = k
  print(j)

1
2
4
7
11
16
22
29
37
46
56
67
79
92
106
121
137
154
172
191

In [ ]:
# Program to display the Fibonacci sequence up to n-th term

nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
# if there is only one term, return n1
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms? 20
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

In [ ]:
#Write a program to find the compound interest
def CI(p , t , n = 1 , r = 0.1) :
  final = p*(1 + r / n )**(n*t)
  return final
p = int(input("enter principal amount: "))
t = int(input("enter time for which money is borowed: "))
CI(p , t )

enter principal amount: 5000
enter time for which money is borowed: 5

8052.550000000003

In [ ]:
#Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.
n , m = 5 , 5
change = n
sum = 0
for i in range(m) :
  sum += change
  change = change * 10 + n
print(sum)
print(change)

61725
555555

In [ ]:
#Take a number from the user and find the number of digits in it.
n = int(input("enter number to count the digit: "))
strn = str(n)
digi = len(strn)
print("enter number of digits", digi)

enter number to count the digit: 45671
enter number of digits 5

In [ ]:
#Print all factors of a given number provided by the user.
n = int(input("enter number to find factors: "))
for i in range(1, n) :
  if n % i == 0 :
    print(i)

enter number to find factors: 44
1
2
4
11
22

In [ ]:
#Find the reverse of a number provided by the user(any number of digit)
n = int(input("enter number: "))
strn = str(n)
rev = strn[::-1]
print(rev)

enter number: 4567
7654

In [ ]:
#Write a program to print the following pattern(41)
n = int(input("enter number for pattern: "))
s = input("enter character for pattern: ")
ns = str(s)
for i in range(1 , n + 1) :
  for j in range(1, i +1) :
    j = ns
    print(j , end = " ")
  print()
for k in range(n , 0 , -1) :
  for l in range(1 , k ) :
    print("*" , end = " ")
  print()

enter number for pattern: 5
enter character for pattern: *
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#42
rows = 5
for i in range(rows, 0, -1):
    for j in range(i):
        print("*", end="")
    print()

*****
****
***
**
*

In [ ]:
#43
rows = int(input("Enter the row size for the pattern: "))
for i in range(1, rows + 1):  # Outer loop for rows
    for j in range(rows  - i):  # Inner loop for spaces
        print(" ", end=" ")
    for k in range(1, 2 * i):  # Inner loop for stars
        print("*", end=" ")
    print()

Enter the row size for the pattern: 5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
n = int(input("enter number for pattern: "))
s = input("enter character for pattern: ")
ns = str(s)
for i in range(1 , n + 1) :
  for j in range(1, i +1) :
    j = ns
    print(j , end = " ")
  print()

enter number for pattern: 5
enter character for pattern: 1
1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [ ]:
#44( not understood)
n = int(input("enter number: "))
for i in range(1 , n +1) :
  for j in range(1 , i + 1) :
    for k in range( j ) :
      print(  k , end = " ")
    print()

enter number: 5
0
0
0 1
0
0 1
0 1 2
0
0 1
0 1 2
0 1 2 3
0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [ ]:
#45(nu)
n = int(input("enter number : "))
for i in range( 1 , n +1) :
  for j in range( 1, i + i ) :
    print( i , end = " ")
  print()

enter number : 5
1
2 2 2
3 3 3 3 3
4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5

In [ ]:
#46
n = int(input("enter number : "))
fact = 1
sum = 0
for i in range(1, n +1) :
  fact = fact * i
  sum = sum + ( i/fact)

print("sum is " ,  sum)

enter number : 5
sum is  2.708333333333333

In [ ]:
def sum_series_iterative(n):
    """
    Calculates the sum of the series 1/1! + 2/2! + ... + n/n! iteratively.
    """
    total_sum = 0
    factorial = 1  # Initialize factorial for 1!
    for i in range(1, n + 1):
        factorial *= i  # Calculate factorial for current i
        total_sum += i / factorial
    return total_sum

# Example usage:
n_value = 5
result = sum_series_iterative(n_value)
print(f"The sum of the series for n = {n_value} is: {result}")

The sum of the series for n = 5 is: 2.708333333333333

In [ ]:
n = 5
fact = 1
for i in range(1 , n +1) :
  fact = fact * i
print(fact)

120

In [ ]:
#47
n = int(input("enter number: "))
sum = 1
x = 2
for i in range(1 , n +1 ) :
  sum = sum + (x**i/i)
print(sum)

enter number: 5
18.066666666666666

In [ ]:
#48
n = int(input("enter number: "))
f = x-1/x
x = 10
sum = 0
for i in range(1 , n + 1) :
  sum = sum + f + 1/2*f**i
print(sum)

enter number: 5
52941.08704500001

In [ ]:
#Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.
numbers = list()
while True :
  print("enter numbers")
  n = int(input())
  if n== 0 :
    break
  numbers.append(n)
  add = sum(numbers)
  l = len(numbers)
  avg = add / l
  print("sum of number", add ,"avg of numbers", avg)

enter numbers
2
sum of number 2 avg of numbers 2.0
enter numbers
4
sum of number 6 avg of numbers 3.0
enter numbers
7
sum of number 13 avg of numbers 4.333333333333333
enter numbers
22
sum of number 35 avg of numbers 8.75
enter numbers
0

In [ ]:
#Write a program that accepts 2 numbers from the user a numerator and a denominator and then simplifies it
from fractions import Fraction
def fr(num , deno = 1) :
  simp = Fraction(num , deno)
  print(f"simplified : {simp}")
num = int(input("enter numerator: "))
deno = int(input("enter denominator : "))
fr(num , deno)

enter numerator: 4
enter denominator : 8
simplified : 1/2

In [ ]:
#Find the length of a given string without using the len() function.
a = "shiva"
count = 0

for i in a :
  count += 1
print(count)

5

In [ ]:
#Extract username from a given email.
#Eg if the email is shiva24singh@gmail.com then the username should be shiva24singh
em = input("enter email: ")
eml = em.split("@")
print(eml)
print("the user name is", eml[0])

enter email: shiva24singh@gmail.com
['shiva24singh', 'gmail.com']
the user name is shiva24singh

In [ ]:
#Count the frequency of a particular character in a provided string. Eg 'hello how are you' is the string, the frequency of h in this string is 2.
st = input()
dict = {}
for ch in st :
  if ch in dict :
    dict[ch] += 1
  else :
    dict[ch] = 1
for key in dict :
  print( key , ":", dict[key])

hello world
h : 1
e : 1
l : 3
o : 2
  : 1
w : 1
r : 1
d : 1

In [ ]:
#Find the index position of a particular character in another string.
str1 = input("enter first string: ")
str2 = input("enter 2nd string: ")
for i in str1 :
  for e in str2 :
    if i == e :
      pos = str1.index(i)
      print("position of character is", pos, "character is", i)

enter first string: anshu
enter 2nd string: rohit
position of character is 3 character is h

In [ ]:
#Count the number of vowels in a string provided by the user.
str1 = input("enter string: ")
vow = "aeiou"
count = 0
for i in str1 :
  for e in vow :
    if i == e :
      count += 1
      print(count)

enter string: mountain
1
2
3
4

In [ ]:
#Write a program which can remove a particular character from a string.
str1 = "hello 0 world"
str1.index("0")
nstr = " "
index = 6
for i in range(len(str1)) :
  if i != index :
    nstr += str1[i]
print(nstr)

 hello  world

In [ ]:
index2 = 12
for i in range(len(str1)) :
  if i != index2 :
    nstr += str1[i]
print(nstr)

 hello  worldhello 0 worl

In [ ]:
#Write a program that can check whether a given string is palindrome or not.
str1 = "anshu"
nstr = str1[::-1]
print(nstr)
if str1 == nstr :
  print("yes")
else :
  print("no")

uhsna
no

In [ ]:
#Write a python program to remove all the duplicates from a list
name = [10 , 20 ,33, 40 , 41 ,10 , 20, 40 , 10 ,10 ,10]
new = list()
for i in name :
  if i not in new :
    new.append(i)
print(new)

new1 = list()
na = list()
def dup(na , new) :
  n = int(input("enter how many number u want in list: "))
  for e in range(0, n + 1) :
    num = int(input("enter number for list: "))
    na.append(num)
  print("your list" , na)
  for i in na :
    if i not in new1 :
      new1.append(i)
  print(new1)


dup(na , new)

[10, 20, 33, 40, 41]
enter how many number u want in list: 6
enter number for list: 20
enter number for list: 40
enter number for list: 40
enter number for list: 10
enter number for list: 20
enter number for list: 50
enter number for list: 10
your list [20, 40, 40, 10, 20, 50, 10]
[20, 40, 10, 50]

In [ ]:
#Write a python program to convert a string to title case without using the title()
n = input("enter sentence: ")
q = n.split()
print(q)
r = " "

for i in q :
  r = r + i[0].upper() + i[1:].lower() + " "

print(r)

enter sentence: hi how are you
['hi', 'how', 'are', 'you']
 Hi How Are You

In [ ]:
#Write a python program to find the max item from a list without using the max function
n = int(input("enter number : "))
k = list()
for i in range(n) :
  num = int(input())
  k.append(num)
print(k)

q = k.sort(reverse = True)
print("highest number is ",k[0])

enter number : 6
10
44
66
30
99
24
[10, 44, 66, 30, 99, 24]
highest number is  99

In [ ]:
#Write a python program to reverse a list
k[::-1]

[10, 24, 30, 44, 66, 99]

In [ ]:
#Write a python program to search a given number from a list
n = int(input("enter number to search: "))
for i in k :
  if i == n :
    print("number found", i)
    break


else :
  print("number not found")

enter number to search: 99
number found 99

In [ ]:
#Write a program that can create a new list from a given list where each item in the new list is square of the item of the old list
n = int(input("enter number of list: "))
k = list()
m = list()
for i in range(n) :
  num = int(input("enter numbers: "))
  l = num**2
  k.append(num)
  m.append(l)
print(k)
print(m)

enter number of list: 3
enter numbers: 22
enter numbers: 10
enter numbers: 44
[22, 10, 44]
[484, 100, 1936]

In [ ]:
#Write a program that can reverse words of a given string.
n = "anshu"
n[::-1]

'uhsna'

In [ ]:
#Write a program that can count the number of words in a given string
n = input("enter words: ")
count = 0
for i in n :
  count += 1
print(count)

enter words: anshu
5

In [ ]:
#Write a program to check if a list is in ascending order or not
b = [60, 20 , 30]
flag = 0

for i in range(len(b)- 1) :
  if b[i] > b[i + 1] :
    flag = 1
    break



if flag == 0 :
  print("sorted")

else :
  print("not sorted")

not sorted

In [ ]:
#Create 2 lists from a given list where 1st list will contain all the odd numbers from the original list and the 2nd one will contain all the even numbers
an = [1,2,3,4,5,6,7,8,9, 10]
an1 = list()
an2 = list()
for i in an :
  if i % 2 == 0 :
    an2.append(i)
  else :
    an1.append(i)
print("even" , an2)
print("odd", an1)

even [2, 4, 6, 8, 10]
odd [1, 3, 5, 7, 9]

In [ ]:
#Write a program to merge 2 list without using the + operator
s = [1,5,7]
k = [2 , 8 , 10]
s.extend(k)
print(s)

[1, 5, 7, 2, 8, 10]

In [ ]:
#Write a program to replace an item with a different item if found in the list
s[0] = 56
print(s)

[56, 5, 7, 2, 8, 10]

In [ ]:
def rep(old,new) :
  for i in range(len(s)) :
    if s[i] == old :
      s[i] = new
  return s
print("choose number to replace" , s)
old = int(input())
new = int(input())
rep(old , new)

choose number to replace [56, 5, 7, 2, 8, 10]
5
55

[56, 55, 7, 2, 8, 10]

In [ ]:
#Write a program that can convert a 2D list to 1D listWrite a program that can print
b = [[1,2 ,3],[5,6]]
c = list()
for a in b :
  for j in a :
    c.append(j)
print(c)

[1, 2, 3, 5, 6]

In [ ]:
#Write a program that can perform union and intersection on 2 given list.
a = [1 , 2 ,3]
b = [ 10 , 20 , 30 ,1]
c = list()
d = list()

def uninsc(a , b) :


  for i in a :
    for e in b :
      if i == e :
        c.append(i)
  print(c)


uninsc(a , b)


#using set method

res = set(a) & set(b)
print(res)

a.extend(b)
print(a)

[1]
{1}
[1, 2, 3, 10, 20, 30, 1]

In [ ]:
#Write a program that can convert an integer to string
n = 10
k = str(n)
print(k)
type(k)

10

str

In [ ]:
#Write a program that can sort a given unsorted list. Dont use any built in function for sorting.
a = [10 , 0 ,1 ,4 ,5]
flag = 0


for i in range(len(a) - 1) :

  if a[i] > a[i + 1] :
    flag = 1



if flag == 0 :
  print("sorted")
else :
  print("not sorted")

not sorted

In [ ]:
song = " Humko humise chura lo, Dil mein kahin tum chupa lo. Humko humise chura lo, Dil mein kahin tum chupa lo. Hum akele, kho na jaayen, Door tumse, ho na jaayen, Paas aao gale se laga lo Humko humise chura lo, Dil mein kahin tum chupa lo. Hum akele, kho na jaayen, Door tumse, ho na jaayen, Paas aao gale se laga lo. Humko humise chura lo Dil mein kahin tum chupa lo. Ye dil dhadka do, zulfein bikhra do, Sharma ke apna aanchal lehra do. Hum zulfein to bikhra dein, din mein raat na ho jaaye, Hum aanchal to lehra dein, par barsaat na ho jaaye Hone do barsaatein, karni hain kuch baatein. Paas aao gale se laga lo. Humko humise chura lo, Dil mein kahin tum chupa lo Hum akele, kho na jaayen, Door tumse, ho na jaayen, Paas aao gale se laga lo Humko humise chura lo Dil mein kahin tum chupa lo Tumpe marte hain, hum mar jayenge, Ye sab kahte hain, hum kar jayenge. Chutki bhar sindoor se tum ab ye maang zara bhar do, Kal kya ho kisne dekha sab kuch aaj abhi kar do. Ho na ho sab raazi, dil raazi rab raazi Paas aao gale se laga lo. Humko humise chura lo, Dil mein kahin tum chupa lo. Humko humise chura lo, Dil mein kahin tum chupa lo. Hum akele, kho na jaayen, Door tumse, ho na jaayen, Paas aao gale se laga lo. Paas aao gale se laga lo."
k  = song.split()

f = {}

for i in k :
  f[i] = f.get(i , 0) + 1
m = max(f , key=f.get)
print(m)

lo.

In [ ]:
a = [ 10 , 20 ,30,10, 20,50,10,10,10]
dict = {}
for i in a :
  if i in dict :
    dict[i] += 1
  else :
    dict[i] = 1
for key in dict :
  print(key , ":" , dict[key])

#max
f = max(dict, key = dict.get)
print(f)
max()

10 : 5
20 : 2
30 : 1
50 : 1
10

In [ ]:
#Assume a list with numbers from 1 to 10 and then convert it into a dictionary where the key would be the numbers of the list and the values would be the square of those numbers.
nu = [1,2,3,4,5,6,7,8,9,10]
dict = {}
for i in nu :
  m = i
  n = i**2
  dict[m] = n
print(dict)

for k in dict :
  print(k , ":", dict[k])
for key,value in dict.items() :
  print(key , ":" , value)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
1 : 1
2 : 4
3 : 9
4 : 16
5 : 25
6 : 36
7 : 49
8 : 64
9 : 81
10 : 100
1 : 1
2 : 4
3 : 9
4 : 16
5 : 25
6 : 36
7 : 49
8 : 64
9 : 81
10 : 100

In [ ]:
#Write a program to merge two given dictionary
n = int(input("enter number of items: "))
dict1 = {}
dict2 = {}
for i in range(n) :
  student = input("student name: ")
  marks = input("student marks: ")

  dict1[student] = marks
print(dict1)

for b in range(n) :
  student = input("student name: ")
  marks = input("student marks: ")
  dict2[student] = marks
print(dict2)

for k in dict1 :
  print(k , ":" , dict1[k])
for l in dict2 :
  print(l , ":" , dict2[l])

enter number of items: 2
student name: qw
student marks: 11
student name: er
student marks: 23
{'qw': '11', 'er': '23'}
student name: ty
student marks: 44
student name: ui
student marks: 67
{'ty': '44', 'ui': '67'}
qw : 11
er : 23
ty : 44
ui : 67

In [ ]:
#merging dictionary
dict1.update(dict2)
print(dict1)

{'qw': '11', 'er': '23', 'ty': '44', 'ui': '67'}

In [ ]:
#Write a program to swap the key value pair for max and min values
#Eg if the dict is like this {âaâ:1,âbâ:2,âcâ:3}

#Output should be {a:3,b:2,c:1}

k = {"a" : 1 , "b" : 2 , "c" : 3}
m = max(k , key = k.get)
print(m)
n = min(k  , key = k.get)
print(n)
h = k[m]

k[m] = k[n]
k[n] = h
print(k)


n1 = 10
n2 = 20
(n1 , n2) = (20 , 10)
print(n1 , n2)

c
a
{'a': 3, 'b': 2, 'c': 1}
20 10

In [ ]:
from posixpath import isabs
#Write a function that accepts a string and returns the number of upper case chars and lower case chars as a dictionary
n = "Hello World"
k = n.split()
count = { "upper" : 0 , "lower" : 0 }
for i in n :
  if "A" <= i <= "Z" :
    count["upper"] += 1
  elif "a" <= i <= "z" :
    count["lower"] += 1
print(count)

{'upper': 2, 'lower': 8}

In [ ]:
#Write a function that accepts a list of strings and performs Bag of words and convert it to numerical vectors.
s = " Beans. I was trying to explain to somebody as we were flying in, that's corn.  That's beans. And they were very impressed at my agricultural knowledge. Please give it up for Amaury once again for that outstanding introduction. I have a bunch of good friends here today, including somebody who I served with, who is one of the finest senators in the country, and we're lucky to have him, your Senator, Dick Durbin is here. I also noticed, by the way, former Governor Edgar here, who I haven't seen in a long time, and somehow he has not aged and I have. And it's great to see you, Governor. I want to thank President Killeen and everybody at the U of I System for making it possible for me to be here today. And I am deeply honored at the Paul Douglas Award that is being given to me. He is somebody who set the path for so much outstanding public service here in Illinois. Now, I want to start by addressing the elephant in the room. I know people are still wondering why I didn't speak at the commencement."
k = s.split()
print(k)
dict = {}
for i in k :
  if i in dict :
    dict[i] += 1
  else :
    dict[i] = 1
for g in dict :
  print(g , ":", dict[g])

['Beans.', 'I', 'was', 'trying', 'to', 'explain', 'to', 'somebody', 'as', 'we', 'were', 'flying', 'in,', "that's", 'corn.', "That's", 'beans.', 'And', 'they', 'were', 'very', 'impressed', 'at', 'my', 'agricultural', 'knowledge.', 'Please', 'give', 'it', 'up', 'for', 'Amaury', 'once', 'again', 'for', 'that', 'outstanding', 'introduction.', 'I', 'have', 'a', 'bunch', 'of', 'good', 'friends', 'here', 'today,', 'including', 'somebody', 'who', 'I', 'served', 'with,', 'who', 'is', 'one', 'of', 'the', 'finest', 'senators', 'in', 'the', 'country,', 'and', "we're", 'lucky', 'to', 'have', 'him,', 'your', 'Senator,', 'Dick', 'Durbin', 'is', 'here.', 'I', 'also', 'noticed,', 'by', 'the', 'way,', 'former', 'Governor', 'Edgar', 'here,', 'who', 'I', "haven't", 'seen', 'in', 'a', 'long', 'time,', 'and', 'somehow', 'he', 'has', 'not', 'aged', 'and', 'I', 'have.', 'And', "it's", 'great', 'to', 'see', 'you,', 'Governor.', 'I', 'want', 'to', 'thank', 'President', 'Killeen', 'and', 'everybody', 'at', 'the', 'U', 'of', 'I', 'System', 'for', 'making', 'it', 'possible', 'for', 'me', 'to', 'be', 'here', 'today.', 'And', 'I', 'am', 'deeply', 'honored', 'at', 'the', 'Paul', 'Douglas', 'Award', 'that', 'is', 'being', 'given', 'to', 'me.', 'He', 'is', 'somebody', 'who', 'set', 'the', 'path', 'for', 'so', 'much', 'outstanding', 'public', 'service', 'here', 'in', 'Illinois.', 'Now,', 'I', 'want', 'to', 'start', 'by', 'addressing', 'the', 'elephant', 'in', 'the', 'room.', 'I', 'know', 'people', 'are', 'still', 'wondering', 'why', 'I', "didn't", 'speak', 'at', 'the', 'commencement.']
Beans. : 1
I : 12
was : 1
trying : 1
to : 8
explain : 1
somebody : 3
as : 1
we : 1
were : 2
flying : 1
in, : 1
that's : 1
corn. : 1
That's : 1
beans. : 1
And : 3
they : 1
very : 1
impressed : 1
at : 4
my : 1
agricultural : 1
knowledge. : 1
Please : 1
give : 1
it : 2
up : 1
for : 5
Amaury : 1
once : 1
again : 1
that : 2
outstanding : 2
introduction. : 1
have : 2
a : 2
bunch : 1
of : 3
good : 1
friends : 1
here : 3
today, : 1
including : 1
who : 4
served : 1
with, : 1
is : 4
one : 1
the : 9
finest : 1
senators : 1
in : 4
country, : 1
and : 4
we're : 1
lucky : 1
him, : 1
your : 1
Senator, : 1
Dick : 1
Durbin : 1
here. : 1
also : 1
noticed, : 1
by : 2
way, : 1
former : 1
Governor : 1
Edgar : 1
here, : 1
haven't : 1
seen : 1
long : 1
time, : 1
somehow : 1
he : 1
has : 1
not : 1
aged : 1
have. : 1
it's : 1
great : 1
see : 1
you, : 1
Governor. : 1
want : 2
thank : 1
President : 1
Killeen : 1
everybody : 1
U : 1
System : 1
making : 1
possible : 1
me : 1
be : 1
today. : 1
am : 1
deeply : 1
honored : 1
Paul : 1
Douglas : 1
Award : 1
being : 1
given : 1
me. : 1
He : 1
set : 1
path : 1
so : 1
much : 1
public : 1
service : 1
Illinois. : 1
Now, : 1
start : 1
addressing : 1
elephant : 1
room. : 1
know : 1
people : 1
are : 1
still : 1
wondering : 1
why : 1
didn't : 1
speak : 1
commencement. : 1

In [ ]:
#Write a function that accepts a number and returns itâs factorial. You can not use any loop
n = int(input("enter number : "))
fact = 1
for i in range(1 , n + 1) :
  fact = fact * i
print(fact)

enter number : 5
120

TypeError: 'int' object is not callable

In [ ]:
from re import RegexFlag
#Write a dummy program that can perform login and registration using a menu driven program

uid = "ka"
pswd = "as"
user = input("enter user id: ")
ps = input("enter pswd: ")

reg = list()


if uid == user and pswd == ps :
  while True :
    print("welcomr To your Account")
    name = input("enter name : ")
    course = input("enter course: ")
    location = input("enter location: ")
    reg.append(name)
    reg.append(course)
    reg.append(location)


    break
  print(reg)



else :
  print("enter valid id paswd")

enter user id: gf
enter pswd: sd
enter valid id paswd

In [ ]:
#Write a program that accepts neighbors(set of 2D co-ordinates) and a point(single 2D co-ordinate) and tells nearest neighbor(in terms of euclidean distance)
n1 = 2
n2 = 2
n3 = 2
co1 = tuple()
co2 = tuple()
co4 = tuple()

In [ ]:
for i in range(n1) :
  num = int(input("enter num : "))
  co1 = co1 + (num,)
print(co1)

enter num : 13
enter num : 10
(13, 10)

In [ ]:
for e in range(n2) :
  num1 = int(input("enter num : "))
  co2 = co2 + (num1,)
print(co2)

enter num : 15
enter num : 21
(15, 21)

In [ ]:
for w in range(n3) :
  num3 = int(input("enter num : "))
  co4 = co4 + (num3,)
print(co4)

enter num : 19
enter num : 22
(19, 22)

In [ ]:
import numpy as np
q = np.array(co1)
w = np.array(co2)
a = np.array(co4)

print(q , w , a)
d1 = np.linalg.norm(q - a)
d2 = np.linalg.norm(w - a)
if d1 < d2 :
  print( d1 , "co1 is near")
else :
  print(d2 , "co2 is near")

[13 10] [15 21] [19 22]
4.123105625617661 co2 is near

In [ ]:
arr1 = np.array([[1,2,3],[4,5,6],[7,8,9]])
np.shape(arr1)

(3, 3)

In [ ]:
#finding maximum element in 2D array
maxe = 0
for i in range(len(arr1)) :
  for j in range(len(arr1[i])) :
    if arr1[i][j] > maxe :
      maxe = arr1[i][j]


print(maxe)

9

In [ ]:
print(arr1)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [ ]:
w = [[1,2,3],[22,45,67],[1 ,0, 100],[8 , 9 , 1]]
e = list()
for i in w :
  e.append(max(i))

print(e)

[3, 67, 100, 9]

In [ ]:
w[0][1]

2